body {
    background: #fdfdfd;
    font-family: "Segoe UI", sans-serif;
}

.container {
    background: white;
    margin: 30px auto;
    padding: 40px;
    width: 900px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    color: #800000;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background: black;
}
